.password-logo img {
  height: 30px;
  align-content: center;
  margin-left: 620px;
  margin-top: 10px;
}
.password {
  height: 310px;
  border-bottom: solid 1px rgb(218, 215, 215);
}
.password-first {
  border: solid 1px rgb(218, 215, 215);
  height: 281px;
  width: 350px;
  margin-left: 508px;
  margin-top: 20px;
  border-radius: 3px;
}
.password-first h1 {
  margin-left: 28px;
  margin-top: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 28px;
}
.sign-in-input {
  display: flex;
}
.sign-in-input .sign-in-data {
  margin-left: 28px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}
.sign-in-input a {
  text-decoration: none;
  height: 20px;
}
.sign-in-input .sign-in-h5 {
  margin-top: 0px;
  margin-left: 3px;
  font-weight: 400;
  color: rgb(8, 140, 216);
  margin-bottom: 15px;
}
.password-data {
  display: flex;
  font-size: 13px;
}
.password-data .password-label {
  margin-left: 28px;
  font-weight: 500;
}
.password-data .forgot {
  text-decoration: none;
  color: rgb(8, 140, 216);
  margin-left: 146px;
}
.password-first .password-input {
  margin-left: 28px;
  margin-top: 5px;
  height: 27px;
  width: 290px;
  border-radius: 3px;
  border-width: thin;
}
.password-submit {
  margin-left: 28px;
  margin-top: 25px;
  margin-bottom: 15px;
  height: 35px;
  width: 296px;
  background: rgb(247, 210, 142);
  border: solid black thin;
  border-radius: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.password-second {
  display: flex;
  text-decoration: none;
}
.password-second .password-checkbox {
  margin-left: 28px;
  margin-top: 6px;
}
.password-second h5 {
  margin-top: 3px;
  margin-left: 2px;
  font-weight: 400;
}
.password-second a {
  text-decoration: none;
  margin-top: 3px;
  margin-left: 3px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 13px;
  color: rgb(8, 140, 216);
}
.password-third {
  margin-top: 30px;
  display: flex;
  font-size: smaller;
  text-decoration: none;
}
.password-third .password-condition {
  margin-left: 565px;
  margin-right: 15px;
  text-decoration: none;
}
.password-third .password-privacy {
  margin-right: 15px;
  text-decoration: none;
}
.password-third a {
  text-decoration: none;
  color: rgb(8, 140, 216);
}
.password-fourth {
  margin-top: 11px;
  margin-left: 570px;
  font-weight: 400;
  font-size: 11px;
}
